<div class="center hero-unit">
  <h1>THIS IS THE HELP PAGE FOR THIS APP</h1>

  <h2>
    Click here
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    for help

  </h2>

  
</div>

